<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Tab 3
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large" style="text-align: center">El Cafecito del Dev</ion-title>
    </ion-toolbar>
  </ion-header>
  
  <ion-row class="ion-justify-content-center">
    <ion-img src="https://avatars.githubusercontent.com/u/49448256?s=400&u=2e1c7f73543dce180310e275f9abfee2384a8223&v=4" alt="The Wisconsin State Capitol building in Madison, WI at night" style="width: 170px"></ion-img>
  </ion-row>
  <ion-grid>
    <ion-row class="ion-justify-content-center">
      <ion-col size="10"  class="ion-text-justify">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Egestas maecenas pharetra convallis posuere morbi leo urna molestie at. Fringilla urna porttitor rhoncus dolor. Vulputate ut pharetra sit amet aliquam id diam maecenas ultricies. Et netus et malesuada fames ac turpis egestas. Nunc mi ipsum faucibus vitae aliquet nec ullamcorper sit amet. Pulvinar sapien et ligula ullamcorper malesuada proin. Posuere ac ut consequat semper viverra nam. Faucibus nisl tincidunt eget nullam non nisi est. Sed adipiscing diam donec adipiscing tristique risus nec feugiat. Vestibulum mattis ullamcorper velit sed ullamcorper. Ullamcorper dignissim cras tincidunt lobortis feugiat. Velit egestas dui id ornare arcu odio ut sem.</ion-col>
    </ion-row>
  </ion-grid>
  
  <ion-grid>
    <ion-row class="ion-justify-content-center">
      <a href="https://github.com/ArielC98"><ion-button color="dark">GitHub</ion-button></a>
    </ion-row>
    
  </ion-grid>
